<mat-card>
    <mat-card-header>
        <div mat-card-avatar>
            <mat-icon>list_alt</mat-icon>
        </div>
        <mat-card-title>Orden: {{order.order.id}}</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <br>
    <mat-card-content>
        <h2>{{order.order.shipName}}</h2>
        <p>Dirección de entrega: {{order.order.shipAddress}}, {{order.order.shipCity}}, {{order.order.shipCountry}}</p>
        <p>Fecha de entrega: {{order.order.requiredDate}}</p>
        <p>Fecha de orden: {{order.order.orderDate}}</p>
        <app-producttable [product]='order.orderDetails'></app-producttable>
    </mat-card-content>
</mat-card>