<mat-card>
    <mat-card-header>
        <div mat-card-avatar>
            <mat-icon>account_circle</mat-icon>
        </div>
        <mat-card-title>Name</mat-card-title>
        <mat-card-subtitle>Client: ID</mat-card-subtitle>
    </mat-card-header>
    <mat-divider></mat-divider>
    <br>
    <mat-card-content>
        <p>Cédula:</p>
        <p>Dirección:</p>
        <p>Email:</p>
        <p>Teléfono:</p>
    </mat-card-content>
    <mat-card-actions align="end">
        <button color="primary" mat-raised-button>Ver órdenes</button>
    </mat-card-actions>
</mat-card>
